.mail-list {
	overflow: scroll;
	height: 650px;
}

.mail-list-item {
	border-bottom: 1px solid #dddddd;
	margin: 0;
	padding: 0.3em;
}

.mail-list-anchor:link {
	text-decoration: none;
}

.mail-list>a:last-child>.mail-list-item {
	border-bottom: none;
}

.selected {
	background-color: #428bca;
	color: white;
}