.mail-list {
	overflow: scroll;
	height: 650px;
	box-shadow: 0 0 200px black inset;
}

.mail-list-item {
	border-bottom: 1px solid #dddddd;
	margin: 0;
	padding: 0.3em;
}

.mail-list>a:last-child>.mail-list-item {
	border-bottom: none;
}