<h1 class="text-uppercase">Inbox</h1>
<div class="form-inline">
	<form>
		<div class="form-group">
			<label>Filter</label>
			<input type="text" ng-model="filterText" class="form-control">
		</div>
	</form>
</div>
<div ng-controller='InboxCtrl'>
	<div class="row">
		<div class="col-md-3 mail-list">
			<a href="" class="mail-list-anchor" ng-repeat="message in messages | filter:filterText" ng-click="setEmailContent($index)">
				<div class="mail-list-item" ng-class="{ selected : currentEmailIndex === $index }">
					<h4>{{ message.subject }}</h4>
					<small>{{ message.content | limitTo: 140 }}...</small>
				</div>
			</a>
		</div>
		<div class="col-md-9 email-content" ng-hide="currentEmailIndex === null">
			<form class="pull-right">
				<div class="form-inline">
					<div class="form-group">
						<label>Text size</label>
						<div class="btn-group">
							<button class="btn btn-default form-control" ng-click="decrementTextSize()">A<sup>-</sup></button>
							<button class="btn btn-default form-control" ng-click="incrementTextSize()">A<sup>+</sup></button>
						</div>
					</div>
				</div>
			</form>
			<h2>{{ messages[currentEmailIndex].subject }}</h2>
			<h4>From : {{ messages[currentEmailIndex].from_name }} ({{ messages[currentEmailIndex].from_email }})</h4>
			<p style="font-size: {{ textSize }}em">{{ messages[currentEmailIndex].content }}</p>
			<form>
				<div class="form-group">
					<label for="quick-reply-textarea">Quick-reply</label>
					<textarea class="form-control" id="quick-reply-textarea"></textarea>
				</div>
				<button class="btn btn-primary" type="submit">Send</button>
			</form>
		</div>
	</div>
</div>